@model OkraFurnitureUI.Models.UserRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>İş Takip Programı | Kullanıcı Kayıt Sayfası</title>
    <link rel="icon" href="~/images/OurLogo.png" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href=""><b>İş Takip Programı</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Kayıt Ol</p>
                <form method="post" class="signin-form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Adınız" asp-for="Name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Soyadınız" asp-for="Surname">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Kullanıcı Adınız" asp-for="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Username" class="text-danger"></span>
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Şifreniz" asp-for="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Şifre Tekrar" asp-for="ConfirmPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Şirket Kodu" asp-for="Code">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Code" class="text-danger"></span>
                                <span class="fas fa-qrcode"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly">
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-primary btn-block">Kayıt Ol</button>
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-6 mt-2">
                            <a href="/Login/SignIn">Zaten Hesabım Var</a>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
</body>
</html>

