@model Entity.DTOs.Foot.CreateFootDto
@{
    ViewData["Title"] = "AddFoot";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ayak Tipi Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Ayak Tipi Ekle</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body">

                            <div class="form-group">
                                <label>Ayak Tipi</label>
                                <input type="text" asp-for="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Kod</label>
                                <input type="text" asp-for="Code" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="/Feet/Index" class="btn btn-secondary">İptal</a>
                    <button class="btn btn-success float-right">Kaydet</button>
                </div>
            </div>
        </form>
    </section>
</div>

