
@{
    ViewData["Title"] = "Kaynakhane";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kaynakhane</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Kaynakhane</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="/Orders/AddOrder/@ViewBag.ProformaId" class="btn btn-outline-primary">Sipariş Ekle</a>
                    </div>
                    <div style="display: flex; align-items: flex-start;">
                    <div class="card-body col-md-2" id="footTypes">
                    </div>
                    <div class="card-body col-md-10" id="tables">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Ayak Rengi</th>
                                    <th>Miktar</th>
                                    <th>Açıklama</th>   
                                    <th>Güncelle</th>
                                    <th>Tamamlandı</th>
                                </tr>
                            </thead>
                            <tbody id="dataByFoot">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Ayak Rengi</th>
                                    <th>Miktar</th>
                                    <th>Açıklama</th>
                                    <th>Güncelle</th>
                                    <th>Tamamlandı</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON(`/Feet/GetAll`, function (data) {
                var footTypes = $("#footTypes");

                $.each(data, function (index, foot) {
                    footTypes.append('<a href="#" class="btn btn-primary" style="width:100%;" data-footId="' + foot.id + '">' + foot.name + '</a><br /><br />');

                });
            });

            $(document).on('click', '#footTypes .btn.btn-primary', function (e) {
                e.preventDefault();

                var footId = $(this).attr('data-footId');
                console.log(footId);
                $.getJSON(`/Orders/GetByFootId/${footId}`, function (data) {
                    var tbody = $("#dataByFoot");
                    tbody.empty();

                    $.each(data, function (index, order) {
                        var row = '<tr>' +
                            '<td>' + (index + 1) + '</td>' +
                            '<td>' + order.footColorName + '</td>' +
                            '<td>' + order.amount + '</td>' +
                            '<td>' + order.description + '</td>' +
                            '<td><a href="/Orders/DeleteOrder?id=' + 1 + '&&proformaId=' + 1 + '" class="btn btn-outline-danger">Yapıldı</a></td>' +
                            '<td><a href="/Orders/UpdateOrder/' + 1 + '" class="btn btn-outline-success">Güncelle</a></td>' +
                            '</tr>';
                        tbody.append(row);
                    });
                });
            });
        });
    </script>
}