
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Proformalar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Proformalar</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="/Orders/AddOrder" class="btn btn-outline-primary">Yeni Sipariş Ekle</a>
                        <button type="button" id="btngetlist" class="btn btn-outline-primary">Listele</button>
                    </div>
                    <div id="getlist"class="card-body">
                        Burayaaaaaaaaaaaaaaaaaaaaaaaaa
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts {
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                dataType: "json",
                type: "Get",
                url: "/Proformas/GetAll",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let count = 1;
                    let tableHtml = `<table id=example1 class=table table - bordered table - striped> 
                        <thead> 
                            <tr> 
                                <th>Id</th>
                                <th>Company Name</th>
                                <th>Adres</th>
                                <th>Tarih</th>
                                <th>Fatura No</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody> `;
                    $.each(w, (index, value) => {
                        tableHtml += `
                     <tr>
                        <td>${value.Id}</td>
                        <td>${value.CompanyName}</td>
                        <td>${value.Address}</td>
                        <td>${value.Date}</td>
                        <td>${value.ReceiptNo}</td>
                        <td>${value.TotalPrice}</td>
                    </tr>`
                    });
                    tableHtml += `
                             </tbody>
            <tfoot>
                <tr>
                                    <th>Id</th>
                                        <th>Company Name</th>
                                        <th>Adres</th>
                                        <th>Tarih</th>
                                        <th>Fatura No</th>
                                        <th>Total Price</th>
                </tr>
            </tfoot>
        </table>
                    `;
                    $("#getlist").html(tableHtml);
                }
            });
        });
    </script>
}