<footer class="main-footer">
    <strong>Click Open Ad İş Takip Programı || 2023 <a href="https://instagram.com/clickopenad">Bize Ulaşın!</a></strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Versiyon</b> 1.0.0
    </div>
</footer>