<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
        <img src="~/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Okra Furniture</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Parçalar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Categories/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kategoriler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Products/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürünler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/ProductColors/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürün Renkleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Feet/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ayak Tipleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/FootColors/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ayak Renkleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Fabrics/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kumaş Çeşitleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/FabricColors/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kumaş Renkleri</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Satış İşlemleri
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Orders/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Siparişler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Proformas/AddProforma" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Proforma Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Üretim
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Orders/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kaynakhane</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Proformas/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Terzihane</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Proformas/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Boyahane</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>

