@model Entity.DTOs.Product.CreateProductDto
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Ekle</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Kategori Adı</label>
                                <select id="categoryDropdown" name="CategoryId" class="form-control custom-select">
                                    <option value="">Kategori Seçin</option>
                                    @foreach (var category in ViewBag.CategoryList)
                                    {
                                        <option value="@category.Value">@category.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ürün Adı</label>
                                <input type="text" asp-for="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Ürün Kodu</label>
                                <input type="text" asp-for="Code" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Ürün Parça Sayısı</label>
                                <input type="number" asp-for="Piece" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Ürün Fiyatı</label>
                                <input type="text" asp-for="Price" class="form-control">
                            </div>
                            <div class="form-group" id="kaputhane">
                                <label>Kaputhane Ürünü Mü?</label>
                                <input type="checkbox" asp-for="Kaputhane" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="/Products/Index" class="btn btn-secondary">İptal</a>
                    <button class="btn btn-success float-right">Kaydet</button>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#categoryDropdown").change(function () {
                var selectedCategory = $(this).find("option:selected").text();

                if (selectedCategory === "Sandalye") {
                    $("#kaputhane").hide();
                } else {
                    $("#kaputhane").show();
                }
            });
        });
    </script>
}